@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@font-face {
  font-family: squids;
  src: url('../fonts/Game\ Of\ Squids.ttf') format('truetype');
}
@font-face {
  font-family: frost;
  src: url('../fonts/Frosh-Medium-Demo-BF6438d6bb5a25f.ttf') format('truetype');
}

  *
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --overlay-color: rgb(88, 88, 88);
  --opacity: 0.2;
}

header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo a {
  display: inline-block;
  text-decoration: none;
}
header .logo img {
    width: 200px;
    height: auto;
}
header .logo1 img {
  width: 400px;
  height: auto;
}
.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url('../images/menu.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  filter: invert(0.5);
  cursor: pointer;
}
.toggle.active
{
  background: url('../images/close.png');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  filter: invert(0.5);
  cursor: pointer;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: var(--opacity);
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-family: squids;
  font-size: 8em;
  font-weight: 400;
  line-height: 1em;
  text-transform: uppercase;

  -webkit-text-stroke: 1px rgb(88, 88, 88);
  color: transparent;
  background-image: linear-gradient(grey, grey);
  background-repeat: no-repeat;
  background-clip: unset;
  -webkit-background-clip: text;
  background-position: -1300px 0;
  animation: backcolor 5s linear infinite alternate;
}

@keyframes backcolor {
  100% {
    background-position: 0 0;
  }
} 
.text h3
{
  font-family: frost;
  padding-top: 10px;
  font-size: 4em;
  font-weight: 400;
  color: grey;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  color: grey;
  margin: 20px 0;
  max-width: 500px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: grey;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(0.5);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
.address {
  color: grey;
  position: absolute;
  z-index: 10;
  bottom: 20px;
  filter: invert(0.5);
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
  padding-top: 25px;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: rgb(88, 88, 88);
}
.menu ul li a:hover
{
  color: #111; 
}
/* contact page */
.cform {
  position: relative;
  width: 500px;
  height: 500px;
}
.cform input,
.cform textarea {
  margin-bottom: 10px;
  background: grey;
  border: 1px solid rgb(88, 88, 88);
  width: 500px;
  padding-left: 10px;
  font-size: 1.5em;
}
.cform input
{
  height: 50px;
}
.cform textarea
{
  height: 100px;
}
.cform button{
  margin-left: 30%;
  width: 200px;
  height: 50px;
  cursor: pointer;
  background-color: grey;
  color: #111;

}
.cform button:hover
{
  letter-spacing: 6px;
}
.cform label{
  font-family: frost;
  color: grey;
  font-size: 2em;
}

#blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  background-color: #111;
}

.blog-box-container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 30px; */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  width: 100%;
  margin-top: 50px;
}

.blog-box {
  max-width: 400px;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  transition: all ease 0.3s;
}

.blog-box:hover {
  display: flex;
  background-color: #111;
  box-shadow: 16px 20px 50px rgba(88, 88, 88, 0.50);
}

.blog-box-img {
  width: 100%;
  height: 100%;
  max-height: 300px;
  overflow: hidden;
  display: flex;
}

.blog-box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all ease 0.3s;
}

.blog-box:hover .blog-box-img img {
  filter: blur(3px);
}

.blog-box-text {
  display: flex;
  flex-direction: column;
  padding: 30px 10px 20px 10px;
}

.blog-box-text h3 a{

  font-family: frost;
  color: grey;
  font-size: 2.5em;
  font-weight: 200;
  text-decoration: none
}

.blog-box-text p {
  color: grey;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: unset;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.blog-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.blog-author-img {
  width: 40px;
  height: 30px;
  border-radius: 10%;
  overflow: hidden;
  margin-right: 10px;
}

.blog-author-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}

.blog-author-text {
  display: flex;
  flex-direction: column;
}

.blog-author-text h3 {
  color: grey;
  font-weight: 700;
}

.blog-author-text span {
  color: rgb(88, 88, 88);
  font-size: .8em;
  font-weight: 500;
}

.bold-text {
  font-weight: bold;
  font-size: 1.5em;
}

.spacer {
  margin-bottom: 5px;
}

.blog-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 200px;
}

.blog-col .text p {
  margin-top: 20px;
  font-size: 1.1em;
  line-height: 1.6;
}

#review-container {
  position: absolute;
  top: 190px;
}

.review-box {
  padding: 60px;
  border: 0px solid grey;
  background: #1f1f1f;
  width: 450px;
}

.review-box img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  padding-bottom: .2rem;
}

.review-box p {
  padding: .2rem 0;
  line-height: 1.2rem;
  color: grey;
  font-size: 1rem;
  max-width: 850px;
}

.review-box h3 {
  font-family: frost;
  padding-top: 1rem;
  padding-bottom: .2rem;
  color: white;
  font-size: 1.6rem;
  font-weight: 10;
}

.review-box h4 {
  padding-bottom: .2rem;
  line-height: 1rem;
  color: grey;
  font-size: 1.1rem;
}

.review-box .stars {
  color: orange;
  font-size: 1rem;
}

.swiper {
  background-color: #1f1f1f;
  width: 1000px;
  height: 300px;
}

.swiper .swiper-button-prev, 
.swiper .swiper-button-next {
  color: #fff;
}

.swiper .swiper-button-prev:after, 
.swiper .swiper-button-next:after {
  font-size: 20px;
}

.swiper .swiper-pagination-bullet {
  background-color: grey;
}

.swiper .swiper-pagination-bullet-active {
  background-color: #fff;
}

#map-container {
  position: absolute;
  bottom: 130px;
  width: 100%;
}

#map-container iframe {
  padding-top: 10px;
  width: 100%;
  max-width: 1000px;
  max-height: 310px;
}

/* window resizing */
@media (max-width: 840px) or (max-height: 940px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  header .logo img {
    width: 100px;
  }
  .text h2
  {
    font-size: 2.5em;
  }
  .text h3
  {
    font-size: 2em;
  }
  .address
  {
    font-size: .75em;
  }
  header .logo1 img {
    width: 200px;
  }
  .cform,
  .cform input, 
  .cform textarea
  {
    width: 300px;
  }
  .cform button{
    margin-left: 0%;
  }
  .blog-box-container {
    grid-template-columns: 1fr;
    padding-bottom: 2em;
  }
  .blog-box-text h3 {
    font-size: 1em;
  }
  .blog-col {
    grid-template-columns: 1fr;
    gap: 0px; 
  }
  .blog-col .text p {
    width: 200px;
    line-height: 1.1em;
    font-size: .9em;
  }
  #review-container {
    /* display: none; */
    width: auto;
  }
  .swiper {
    width: 300px;
  }
  .review-box {
    padding: 10px;
  }
  .review-box p{
    line-height: 1rem;
    font-size: .8em;
  }
  .swiper .swiper-button-prev,
  .swiper .swiper-button-next,
  .swiper .swiper-pagination {
    display: none;
  }
  #map-container iframe {
    max-width: 300px;
    max-height: 250px;
  }

}
